adf-v01/framework_GrandParent_Controller.json
{
	"name": "framework_GrandParent_Controller",
	"properties": {
		"description": "The Pipeline is not yet completed.",
		"activities": [
			{
				"name": "Start Logging",
				"description": "This store procedure should be [audit].[Create_CurrentExecution_v2]",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "00.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[audit].[Create_CurrentExecution_v2]",
						"storedProcedureParameters": {
							"ApplicationId": {
								"type": "Int16",
								"value": {
									"value": "@pipeline().parameters.P_ApplicationId",
									"type": "Expression"
								}
							},
							"CurrentExecutionId": {
								"type": "Guid",
								"value": null
							},
							"PipelineId": {
								"value": {
									"value": "@pipeline().parameters.P_PipelineId",
									"type": "Expression"
								}
							},
							"StageId": {
								"value": {
									"value": "@pipeline().parameters.P_StageId",
									"type": "Expression"
								}
							},
							"SetId": {
								"value": {
									"value": "@pipeline().parameters.P_SetId",
									"type": "Expression"
								}
							},
							"GroupId": {
								"value": {
									"value": "@pipeline().parameters.P_GroupId",
									"type": "Expression"
								}
							},
							"StartHour": {
								"type": "Int16",
								"value": {
									"value": "@if(and(greaterOrEquals(pipeline().parameters.P_StartHour, 24), not(equals(pipeline().parameters.P_StartHour, 255))), formatDateTime(utcNow(), 'HH'), pipeline().parameters.P_StartHour)",
									"type": "Expression"
								}
							},
							"IgnoreSchedule": {
								"value": {
									"value": "@pipeline().parameters.P_IgnoreSchedule",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "config",
							"TableName": "Application"
						}
					}
				}
			},
			{
				"name": "Get Sets",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Logging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[Get_Sets]",
						"storedProcedureParameters": {
							"CurrentExecutionId": {
								"type": "Guid",
								"value": {
									"value": "@activity('Start Logging').output.firstRow.CurrentExecutionId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "config",
							"TableName": "Application"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Sets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Sets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Sets').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "framework_Parent_Controller",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "framework_Parent_Controller",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_ApplicationId": {
										"value": "@pipeline().parameters.P_ApplicationId",
										"type": "Expression"
									},
									"P_SetId": {
										"value": "@item().SetId",
										"type": "Expression"
									},
									"P_PipelineId": {
										"value": "@pipeline().parameters.P_PipelineId",
										"type": "Expression"
									},
									"P_GlobalExecutionType": {
										"value": "@pipeline().parameters.P_GlobalExecutionType",
										"type": "Expression"
									},
									"P_SourceNameOverride": {
										"value": "@pipeline().parameters.P_SourceNameOverride",
										"type": "Expression"
									},
									"P_StartDate": {
										"value": "@pipeline().parameters.P_StartDate",
										"type": "Expression"
									},
									"P_EndDate": {
										"value": "@pipeline().parameters.P_EndDate",
										"type": "Expression"
									},
									"P_StageId": {
										"value": "@pipeline().parameters.P_StageId",
										"type": "Expression"
									},
									"P_CurrentExecutionId": {
										"value": "@activity('Start Logging').output.firstRow.CurrentExecutionId",
										"type": "Expression"
									},
									"P_OverrideParams": {
										"value": "@pipeline().parameters.P_OverrideParams",
										"type": "Expression"
									},
									"P_Version": {
										"value": "@pipeline().parameters.P_OverrideVersion",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_ApplicationId": {
				"type": "int",
				"defaultValue": 1
			},
			"P_SetId": {
				"type": "int",
				"defaultValue": -1
			},
			"P_PipelineId": {
				"type": "int",
				"defaultValue": -1
			},
			"P_GlobalExecutionType": {
				"type": "string",
				"defaultValue": "I"
			},
			"P_SourceNameOverride": {
				"type": "string"
			},
			"P_StartDate": {
				"type": "string"
			},
			"P_EndDate": {
				"type": "string"
			},
			"P_StageId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"P_OverrideParams": {
				"type": "object"
			},
			"P_StartHour": {
				"type": "int",
				"defaultValue": 25
			},
			"P_GroupId": {
				"type": "int",
				"defaultValue": -1
			},
			"P_IgnoreSchedule": {
				"type": "int",
				"defaultValue": 0
			},
			"P_OverrideVersion": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-29T22:13:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}